// /**
// /**
//  * Copyright © Magento, Inc. All rights reserved.
//  * See COPYING.txt for license details.
//  */

//
//  Common
//  _____________________________________________

& when (@media-common = true) {
    .lib-font-face(
        @family-name: @font-family-name__base,
        @font-path: '@{baseDir}fonts/opensans/light/opensans-300',
        @font-weight: 300,
        @font-style: normal,
        @font-display: swap
    );

    .lib-font-face(
        @family-name: @font-family-name__base,
        @font-path: '@{baseDir}fonts/opensans/regular/opensans-400',
        @font-weight: 400,
        @font-style: normal,
        @font-display: swap
    );

    .lib-font-face(
        @family-name: @font-family-name__base,
        @font-path: '@{baseDir}fonts/opensans/semibold/opensans-600',
        @font-weight: 600,
        @font-style: normal,
        @font-display: swap
    );

    .lib-font-face(
        @family-name: @font-family-name__base,
        @font-path: '@{baseDir}fonts/opensans/bold/opensans-700',
        @font-weight: 700,
        @font-style: normal,
        @font-display: swap
    );

    .lib-font-face(
        @family-name: @font-family-name__avenir-black,
        @font-path: '@{baseDir}fonts/Avenir-Black',
        @font-style: normal,
        @font-display: swap
    );

    .lib-font-face(
        @family-name: @font-family-name__avenir-heavy,
        @font-path: '@{baseDir}fonts/Avenir-Heavy',
        @font-style: normal,
        @font-display: swap
    );

    .lib-font-face(
        @family-name: @font-family-name__avenir-roman,
        @font-path: '@{baseDir}fonts/Avenir-Roman',
        @font-style: normal,
        @font-display: swap
    );

    .lib-font-face(
        @family-name: @font-family-name__la-brands,
        @font-path: '@{baseDir}fonts/la-brands-400',
        @font-weight: 400,
        @font-style: normal,
        @font-display: swap
    );

    .lib-font-face(
        @family-name: @font-family-name__la-regular,
        @font-path: '@{baseDir}fonts/la-regular-400',
        @font-weight: 400,
        @font-style: normal,
        @font-display: swap
    );

    .lib-font-face(
        @family-name: @font-family-name__la-solid,
        @font-path: '@{baseDir}fonts/la-solid-900',
        @font-weight: 900,
        @font-style: normal,
        @font-display: swap
    );



}

//
//  Desktop
//  _____________________________________________

.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__m) {

}

//
//  Common
//  _____________________________________________

& when (@media-common = true) {
    .items {
        .lib-list-reset-styles();
    }


    h1 {
         letter-spacing: @h1__letter-spacing;

     }

     h2 {
         letter-spacing: @h2__letter-spacing;
     }

     h3 {
         letter-spacing: @h3__letter-spacing;
     }

     h4 {
         letter-spacing: @h4__letter-spacing;
     }

     h5 {
         letter-spacing: @h5__letter-spacing;
         text-transform: uppercase;
     }

     p {
         font-family: @p__font-family;
         color: @p__color;
         line-height: @p__line-height;
         font-size: @p__font-size;
     }

     a {
         font-family: @a__font-family;
         font-size: @a__font-size;
         line-height: @a__line-height;
         cursor: pointer;
     }
}
