& when (@media-common = true) {
    .footer-top {
        display: inline-block;
        width: 100%;
        border-bottom: solid 3px @color-gray-darken0;
        text-align: center;
        ul {
            display: flex;
            flex-wrap: wrap;
            max-width: 1280px;
            margin: auto;
            padding: 0;
            box-sizing: border-box;
        }
        li {
            list-style-type: none;
            a {
                text-transform: uppercase;
                font-family: @font-family__avenir-black;
                font-size: 14px;
                line-height: 15px;
                color: @theme__color__primary-alt;
                img {
                    display: inline-block;
                    position: relative;
                }
            }
        }
    }
    .footer-bottom {
        text-align: center;
        border-top: 1px solid @color-gray-darken0;
    }
}
/*---------Min m---------------*/
.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__m) {
    .page-footer {
        background: @color-white;
    }
    .footer-top { 
        margin-top: 44px;
        padding-bottom: 55px;
        ul{            
            li {
                width: 25%;               
                a {                   
                    img {                      
                        margin-right: 15px;
                        top: 12px;
                    }
                }
            }
        }
    }
    .footer-center {
        max-width: 1280px;
        padding: 0px 20px;
        margin: auto;
        width: 100%;
        display: flex;
        box-sizing: border-box;
        .item {
            margin-top: 29px;
            width: 26.6%;
            h3 {
                word-spacing: 3px;
            }
            ul {
                padding: 0;
                margin-top: -6px;
                li {
                    list-style-type: none;
                    margin-bottom: 0;
                    a {
                       letter-spacing: -0.45px;
                    }
                }
            }
            &:nth-child(3) {
                width: 25%;
            }
            &:nth-child(4) {
                width: 20%;
                margin-top: 66px;
                .icon-awesome a{
                    &:nth-child(1)::after,
                    &:nth-child(2)::after {
                        font-size: 26px;
                    }
                }
                
            }
        }
    }
    .footer-center-mobile {
        display: none;
    }
    .footer-bottom {
        margin-top: 6px;
        .content {
            max-width: 1280px;
            padding: 0px 20px;
            width: 100%;
            margin: auto;
            display: inline-block;
            box-sizing: border-box;
            .content-left {
                float: left;
                margin-top: 35px;
                letter-spacing: -0.4px;
            }
            .content-right {
                float: right;
                margin-top: 32px;
            }
        }
    }
}
/*---------Min l---------------*/
.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__xl) {
    .footer-top {
        ul {
            li {
                width: 20%;
                &:nth-child(1) {
                    margin-left: 10px;
                    padding-right: 6.8%;
                }
                &:nth-child(2) {
                    margin-top: 4px;
                    padding-right: 7.9%;
                }
                &:nth-child(3) {
                    padding-right: 4.5%;
                }
            }
        }
    }
}
/*---------Max m---------------*/
.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__m) {
    body * {
        box-sizing: border-box;
    }
    .page-footer {
        margin-top: 12px;
    }
    .footer-top { 
        margin-top: 12px;
        ul{            
            li {
                width: 50%;       
                margin-bottom: 29px;        
                a {                   
                    img {                      
                        margin-right: 15px;
                        top: 12px;
                    }
                }
                &:nth-child(4) {
                    padding-right: 6%;
                }
            }
        }
    }
    .footer-center {
        display: none;
    }
    .footer-center-mobile {
        display: flex;
        flex-wrap: wrap;
        padding: 0px 19px;
        margin-top: -1px;
        .item {
            width: 50%;
            h3 {
                letter-spacing: -0.95px;
            }
            ul {
                padding: 0;
                margin-top: -12px;
                li {
                    list-style-type: none;
                    margin-bottom: 0;
                    a {
                        letter-spacing: -0.5px;
                    }
                }
            }
            &:nth-child(2n) {
                padding-left: 30px;
            }
            &:nth-child(3) {
                margin-top: -33px;
            }
            &:nth-child(4) {
                margin-top: -32px;
                .icon-awesome {
                    margin-top: -10px;
                    margin-left: -10px;
                     a{
                         padding-right: 3.5px;
                        &:nth-child(1)::after,
                        &:nth-child(2)::after {
                            font-size: 26px;
                        }
                    }
                }
            }
        }
    }
    .footer.content {
        display: none;
    }
    .footer-bottom {
        margin-top: 10px;
        .content {
            margin-top: 35px;
            .content-left {
                letter-spacing: -0.48px;
            }
            .content-right {
                margin-top: 25px;
            }
        }
    }
}
/*---------Max xs---------------*/
.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__xs) {
    .footer-top { 
        ul{            
            li {     
                &:nth-child(1) {
                    padding-left: 3px;
                } 
                &:nth-child(2) {
                    a {
                        padding-left: 27px;
                    }
                }
                &:nth-child(3) {
                    margin-top: -7px;
                    margin-bottom: 22px;
                    a {
                        padding-left: 36px;
                    }
                }
                &:nth-child(4) {
                    margin-bottom: 22px;
                    a {
                        padding-left: 32px;
                        img {
                            top: -9px;
                            margin-right: 27px;
                        }
                    }
                }        
                a { 
                    position: relative;
                    display: flex;
                    width: 160px;
                    padding-left: 40px;
                    text-align: left;                 
                    img {                      
                        left: 0;
                        top: 1px;
                    }
                }
            } 
        }
    }
}