& when (@media-common = true) {
    .page .messages {
        margin-top: 15px;
        margin-bottom: 15px;
    }
    .home-banner{
        position: relative;
        .banner-text {
            position: absolute;
            h2 {
                font-family: @font-family__marker;
                color: @color-white;
            }
            p {
                font-size: 18px;
                color: @color-white;
                line-height: 28px;
                word-spacing: -2.5px;
            }
            a {
                font-family: @font-family__avenir-black;
                color: @theme__color__primary;
                font-size: 16px;
                line-height: 20px;
                background-color: @color-white;
                border-radius: 3px;
                word-spacing: -2px;
                text-decoration: none;
                &:hover {
                    background-color: @color-black;
                    color: @color-white;
                }
            }
        }
    }
    .home-raww-superfood {
        text-align: center;
        .home-superfood {
            .superfood-content {
                display: flex;
                justify-content: center;
                flex-wrap: wrap;
                padding: 0;
                .icons {
                    .icons-content {
                        font-size: 14px;
                        line-height: 15px;
                        text-transform: uppercase;
                        font-family: @font-family__avenir-black;
                        max-width: 56px;
                        margin:auto;
                        &:hover {
                            text-decoration: underline;
                            cursor: pointer;
                        }
                    }
                }
            }
        }
    }
    .home-instagram {
        text-align: center;
        .instagram {
            margin: auto;
            .instagram-title {
                p {
                    &::after {
                        content: '\f16d';
                        font-family: @font-family-name__la-brands;
                    }
                }
            }
            .instagram-image {
                display: flex;
                justify-content: center;
                flex-wrap: wrap;
                width: 100%;
                .item {
                    img {
                        cursor: pointer;
                    }
                }
            }
        }
    }
    .home-subcribe {
        .subcribe {
            position: relative;
            text-align: center;
            .subcribe-text {
                position: absolute;
                h2 {
                    color: @color-white;
                }
                p {
                    color: @color-white;
                    line-height: 26px;
                }
            }
        }
    }
    .block.newsletter {
        .field {
            .control::before {
                display: none;
            }
        }
        input {
            margin-right: 0;
            font-size: 16px;
            line-height: 20px;
            font-family: @font-family__avenir-roman;
        }
        .actions {
            position: absolute;
            span {
                display: block;
                font-size: 15px;
                line-height: 20px;
                font-family: @font-family__avenir-heavy;
            }
        }
    }
    .home-product {
        background: url('../images/background-product-2.png') no-repeat;
        .home-product-content .grid {
            ol.product-items {
                li.product-item {
                    .product-item-info {
                        background-color: white;
                        &:hover {
                            margin: 0;
                            padding: 6px 0px 28px 0px;
                        }
                        .product-item-details {
                            .product-item-inner {
                                .product-item-actions {
                                    .actions-primary {
                                        form {
                                            button.action.tocart.primary {
                                                .lib-button-primary (
                                                    @_button-padding: 4px 34px 0px 40px;
                                                );
                                            }
                                        }
                                    } 
                                }
                            }
                        }
                       
                    }
                }  
            }  
        }
        .widget {
            .block-content {
                .grid {
                    ol.widget-product-grid {
                        .slick-list {
                            .slick-track {
                                li.product-item {
                                    .product-item-info {
                                        .product-item-details {
                                            margin-top: -5px;
                                        }
                                    }                                   
                                }                                
                            }                           
                        }                       
                    }                   
                }               
            }
        }
    }  
}
/*---------Min m---------------*/
.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__m) {
    .home-banner {
        .banner-img {
            width: auto;
        }
        .banner-img-mobile {
            display: none;
        }
        .banner-text {
            top: 10%;
            left: 11.2%;
            h2 {
                line-height: 80px;
                letter-spacing: -2.6px;
                word-spacing: 1px;
                font-size: 100px;
                padding-right: 25%;
                margin-bottom: 20px;
            }
            p {
                padding-right: 35%;
                margin-bottom: 20px;
                letter-spacing: 0px;
            }
            a {
                padding: 17px 28px 17px 32px;
            }
        }
    }
    .home-tiles {
        margin-top: -6px;
        margin-bottom: 6%;
        background: url('../images/homepage/background_tiles.png') no-repeat;
        .home-content-top {
            max-width: 1280px;
            padding-left: 20px;
            padding-right: 20px;
            box-sizing: border-box;
            display: flex;
            top: 0;
            margin-left: 10%;
            margin-right: 10%;
            padding-top: 6.9%;
            padding-bottom: 6.8%;
            .content-top {
                max-width: 400px;
                max-height: 400px;
                justify-content: center;
                position: relative;
                img {
                    width: 100%;
                    transform: scale(1.09);
                    cursor: pointer;
                }
                &:first-child {
                    margin-left: 0px;
                }
                &:last-child {
                    margin-right: 0px;
                }
                &:nth-child(2) {
                    margin: 0px 20px;
                }
                a{
                    font-family: @font-family__marker;
                    font-size: 40px;
                    letter-spacing: -1.3px;
                    line-height: 74px;
                    position: absolute;
                    z-index: 2;
                    bottom: 7%;
                    left: 10%;
                    color: @color-white;
                    text-decoration: none;
                }
            }
        }
    }
    .home-raww-superfood {
        .home-superfood {
            padding: 0px 20px;
            max-width: 1280px;
            margin: auto;
            .superfood-title {
                margin-bottom: 51px;
                h2 {
                    font-size: 42px;
                    line-height: 48px;
                    letter-spacing: -1.8px;
                    margin-left: -5px;
                    margin-bottom: 34px;
                    padding: 0% 22%;
                }
                p {
                    font-size: 20px;
                    line-height: 28px;
                    max-width: 960px;
                    margin: auto;
                    word-spacing: -1px;
                    letter-spacing: -0.4px;
                }
            }
            .superfood-content {
                margin-bottom: 10px;
                .icons {
                    width: 16.66%;
                    margin-bottom: 25px;
                    &:nth-child(n+13){
                        display: none;
                    }
                }
            }
            .superfood-button {
                .action.primary {
                    letter-spacing: -0.5px;
                    .lib-button-primary (
                        @_button-padding: 16px 30px 12px;
                    );
                }
            }
        }
    }
    .product-item-inner-mobile {
        display: none;
    }
    .home-product {
        margin-top: 3.8%;
        text-align: center;
        .home-product-content {
            .grid {
                ol.product-items {
                    li.product-item {
                        .product-item-info {
                            padding-top: 6px;
                        }
                    }
                }
            }
        }
        .home-product-content {
            max-width: 1280px;
            margin: auto;
            padding: 52px 20px;
            box-sizing: border-box;
            .product-content-title {
                h2 {
                    font-size: 32px;
                    line-height: 74px;
                    color: @color-white;
                    letter-spacing: -2px;
                }
            } 
        }
    }
    .block-products-list.grid {
        margin-top: 32px;
        .slick-slide.slick-current {
            margin-bottom: 0px;
            margin-right: 10px;
            margin-left: -20px;
        }
        .slick-slide {
            box-sizing: border-box;
        }
    }
    .control.product {
        margin-left: 1px;
    }
    .home-product{
        .slick-arrow.slick-prev {
            left: 15px;
            top: -14.2%; 
            &::before {
                color: @color-white;
            }
        }
        .slick-arrow.slick-next {
            right: 55px;
            top: -14.2%; 
            &::before {
                color: @color-white;
            }
        }
    }
    .home-instagram {
        margin-bottom: 59px;
        margin-top: 3.4%;
        .instagram {
            max-width: 1280px;
            padding: 0px 20px;
            box-sizing: border-box;
            .instagram-title {
                h3 {
                    font-size: 32px;
                    line-height: 74px;
                    letter-spacing: -1.7px;
                    margin-bottom: 0;
                }
                p {
                    font-size: 18px;
                    line-height: 28px;
                    letter-spacing: -0.6px;
                    margin-top: -13px;
                    &::after {
                        font-size: 23px;
                        position: relative;
                        top: 2.5px;
                    }
                }
            }
            .instagram-image {
                display: flex;
                justify-content: center;
                flex-wrap: wrap;
                width: 100%;
                margin-top: 24px;
                margin-left: -9px;
                margin-right: -10px;
                .item {
                    width: 25%;
                    margin-bottom: 14px;
                    margin-right: 5px;
                    &:nth-child(4n) {
                        margin-right: -19px;
                    }
                    &:nth-child(4n+3) {
                        margin-left: -1px;
                    }
                }
            }
            .instagram-button {
                margin-top: 0px;
                .action.primary {
                    .lib-button-primary (
                        @_button-padding: 16px 31px 14px;
                    );
                }
            }
        }
    }
    .home-subcribe {
        .subcribe {
            .subcribe-text {
                top: -12%;
                left: 20%;
                h2 {
                    font-size: 32px;
                    line-height: 74px;
                    letter-spacing: -2px;
                    margin-bottom: 0;
                    word-spacing: 2.5px;
                    padding-right: 3.85%;
                }
                p {
                    font-size: 18px;
                    padding-right: 10.5%;
                    padding-left: 10.5%;
                    word-spacing: -1px;
                    margin-top: -12px;
                    letter-spacing: -0.43px;
                }
            }
        }
        .subcribe-image-mobile {
            display: none;
        }
    }
    .block.newsletter {
        position: relative;
        z-index: 1;
        width: auto;
        max-width: 30%;
        .form.subscribe {
            position: absolute;
            margin-top: 52%;
            left: 100%;
        }
        input {
            padding: 24.5px 19px;
            letter-spacing: -0.65px;
        }
        .actions {
            top: 0;
            right: -3.6%;
            span {
                padding: 8.5px 18px 7px 17px;
            }
        }
    }
}
/*---------Min l---------------*/
.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__l) {
    .home-banner {
        .banner-text {
            top: 21%;
            h2 {
                padding-right: 40%;
                margin-bottom: 31px;
            }
            p {
                padding-right: 47%;
                margin-bottom: 39px;
            }
        }
    }
    .home-tiles {
        .home-content-top {
            .content-top {
                a {
                    font-size: 64px;
                }
            }
        }
    }
    .home-raww-superfood {
        .home-superfood {
            .superfood-content {
                padding-left: 3.7%;
                padding-right: 3.7%;
                .icons {
                    width: 12.5%;
                    &:nth-child(n+13) {
                        display: inline-block;
                    }
                }
            }
        }
    }
    .home-subcribe {
        .subcribe {
            .subcribe-text {
                top: 8%;
                left: 26%;
            }
        }
    }
    .block.newsletter {
        max-width: 25.3%;
        .form.subscribe {
            left: 123%;
            margin-top: 62%;
        }
    }
    .block-products-list.grid {
        .slick-slide.slick-current {
            margin-left: 0px;
        }
        .block-content {
            .products-grid {
                .product-items {
                    .slick-slide {
                        margin-left: 10px;
                        margin-right: 8px;
                    }
                }
            }
        }
    }     
}
/*---------Min xl---------------*/
.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__xl) {
    .home-subcribe {
        .subcribe {
            .subcribe-text {
                top: 17.8%;
                left: 33.08%;
            }
        }
    }
    .block.newsletter {
        max-width: 26.3%;
        .form.subscribe {
            margin-top: 55.4%;
            left: 122.5%;
        }
    }
    .home-product {
        .home-product-content {
            .block-products-list.grid {
                .slick-slide.slick-current {
                    margin-right: 0px;
                    margin-bottom: 40px;
                }
                .block-content {
                    .products-grid {
                        .product-items {
                            .slick-slide.slick-active {
                                    &:nth-child(3n+2) {
                                        margin-left: 20px;
                                        margin-right: 10px;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}
/*---------Max m---------------*/
.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__m) {
    .home-banner {
        margin-top: -13px;
        .banner-img {
            display: none;
        }
        .banner-img-mobile {
            img {
                width: 767px;
                height: 380px;
                object-fit: cover;
            }
        }
        .banner-text {
            bottom: 9.6%;
            left: 7.6%;
            h2 {
                font-size: 54px;
                line-height: 44px;
                letter-spacing: -1.5px;
            }
            p {
                display: none;
            }
            a {
                margin-top: 5px;
                display: inline-block;
                padding: 14px 30px;
            }
        }
    }
    .home-tiles{
        display: none;
    }
    .home-raww-superfood{
        .home-superfood {
            .superfood-title {
                padding: 0px;
                h2 {
                    font-size: 24px;
                    line-height: 28px;
                    padding: 6.5px 40px 0px 25px;
                    letter-spacing: -1px;
                }
                p {
                    font-size: 15px;
                    line-height: 24px;
                    margin-top: -3px;
                    padding-right: 3px;
                    letter-spacing: 0px;
                }
            }
            .superfood-content {
                margin: 24.3px -17px 0px -17px;
                .icons {
                    width: 20%;
                    margin-bottom: 25.2px;
                    .icons-image {
                        img {
                            max-width: 90px;
                            max-height: 90px;
                        }
                    }
                    &:nth-child(n+11){
                        display: none;
                    }
                }
            }
            .superfood-button {
                margin: 0px -10px;
                .action.primary {
                    .lib-button-primary (
                        @_button-padding: 15px 0px 13px;
                        @_button-width: 100%;
                    );
                    letter-spacing: -0.5px;
                }
            }
        }
    }
    .product-item-inner {
        display: none;
    }
    .swatch-attribute.color {
        display: none;
    }
    .home-product {
        margin-top: 3.8%;
        text-align: center;
        .home-product-content {
            margin: auto;
            padding: 5px 10px;
            .product-content-title {
                h2 {
                    font-size: 24px;
                    word-spacing: -5.5px;
                    line-height: 72px;
                    margin-top: 0px;
                    letter-spacing: -0.6px;
                    color: @color-white;
                }
            }
        }
    }
    .widget.grid {
        margin: 0px;
        .slick-slide.slick-current.slick-active {
            margin-bottom: 0px;
            margin-left: 0px;
            margin-right: 8px;
        }
        .slick-slide {
            margin: 0px 4px;
        } 
        ol.product-items {
            li.product-item {
                .product-item-info {
                    padding-top: 0px;
                    padding-bottom: 7px;
                    &:hover {
                        padding-bottom: 7px;
                    }
                    .product-item-details {
                        text-align: center;
                        padding: 7px 17px;
                        .product-item-name {
                            padding: 0px 19px;
                            a.product-item-link {
                                font-size: 14px;
                                line-height: 16px;
                            }
                        }
                        .price-box {
                            margin-top: -4px;
                            .normal-price {
                                .price-wrapper {
                                    .price {
                                        font-size: 16px;
                                        line-height: 28px;
                                    }
                                }
                            }                                 
                        }
                    } 
                } 
            } 
        } 
    }
    .control.product {
        margin-left: 1px;
    }
    .home-product {
        .slick-arrow.slick-prev {
            left: -5px;
            top: -9.6%;
            &::before {
                color: @color-white;
            }
        }
        .slick-arrow.slick-next {
            right: 35px;
            top: -9.6%;
            &::before {
                color: @color-white;
            }
        }
    }
    .product-item-inner-mobile {
        .action.primary {
            font-size: 15px;
            line-height: 20px;
            padding: 13px 0px;
            width: 100%;
        }
        .more-link {
            a {
                text-decoration: underline;
                font-size: 12px;
                line-height: 28px;
                letter-spacing: 0.15px;
                display: inline-block;
                margin-top: 4px;
            }
        }
    }
    .home-instagram{
        margin-top: 37px;
        .instagram {
            .instagram-title {
                h3 {
                    font-size: 24px;
                    line-height: 28px;
                    letter-spacing: -1px;
                    margin-bottom: 11px;
                }
                p {
                    padding-left: 19px;
                    padding-right: 20px;
                    font-size: 15px;
                    line-height: 21px;
                    letter-spacing: 0px;
                    &::after {
                        font-size: 20px;
                    }
                }
            }
            .instagram-image {
                margin-top: 25px;
                padding-left: 10px;
                .item {
                    margin-bottom: 6px;
                    width: 33.33%;
                    padding-right: 10px;
                    &:nth-child(n+7) {
                        display: none;
                    }
                }
            }
            .instagram-button {
                margin-top: 8px;
                .action.primary {
                    .lib-button-primary (
                        @_button-padding: 14px 0px;
                        @_button-width: 98%;
                    );
                }
            }
        }
    }
    .home-subcribe {
        text-align: center;
        .subcribe {
            .subcribe-text {
                left: 18%;
                top: 4%;
                h2 {
                    font-size: 24px;
                    line-height: 28px;
                    letter-spacing: -1px;
                    padding-right: 3px;
                    margin-bottom: 8px;
                }
                p {
                    font-size: 15px;
                    padding-right: 5px;
                    letter-spacing: 0px;
                }
            }
            .subcribe-image {
                display: none;
            }
            .subcribe-image-mobile {
                img {
                    height: 291px;
                    width: 767px;
                    object-fit: cover;
                }
            }
        }
    }
    .block.newsletter {
        position: relative;
        padding-left: 10px;
        z-index: 1;
        .form.subscribe {
            position: absolute;
            width: 98%;
            margin-top: 20%;
        }
        input {
            padding: 25px 19px;
            letter-spacing: -0.6px;
        }
        .actions {
            width: 100%;
            margin-top: 9px;
            .action.primary {
                padding-top: 14.5px;
                padding-bottom: 13px;
                width: 100%;
            }
        }
    }
}
/*---------Max s---------------*/
.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__s) {
    .home-instagram {
        .instagram {
            .instagram-button {
                .action.primary {
                    .lib-button-primary (
                        @_button-padding: 14px 0px;
                        @_button-width: 97%;
                    );
                }
            }
        }
    }
    .block.newsletter {
        .form.subscribe {
            width: 97%;
            margin-top: 30%;
        }
    }
    .home-subcribe {
        .subcribe {
            .subcribe-text {
                left: 9%;
            }
        }
    }
    .home-product {
        max-height: 630px;
    }
    .slick-arrow.slick-prev {
        left: -5px;
        top: -9.6%;
        &::before {
            color: @color-white;
        }
    }
    .slick-arrow.slick-next {
        right: 35px;
        top: -9.6%;
        &::before {
            color: @color-white;
        }
    }
    .widget.grid {
        margin: 0px;
        .slick-slide.slick-current.slick-active {
            margin-left: 0px;
            margin-right: 10px;
        }
        .slick-slide.slick-active {
            margin: 0px 10px;
        }
        .slick-slide {
            margin: 0px 5px;
        }  
    }
}
/*---------Max xs---------------*/
.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__xs) {
    .home-raww-superfood{
        .home-superfood  {
            .superfood-content {
                .icons {
                    width: 33.3%;
                    &:nth-child(n+7){
                        display: none;
                    }
                }
            }
        }
    }
    .home-instagram {
        .instagram {
            .instagram-image {
                .item {
                    width: 50%;
                    img {
                        max-height: 175px;
                        max-width: 175px;
                    }
                    &:nth-child(n+5) {
                        display: none;
                    }
                }
            }
            .instagram-button {
                .action.primary {
                    .lib-button-primary (
                        @_button-padding: 14px 0px;
                        @_button-width: 95%;

                    );
                }
            }
        }
    }
    .home-subcribe {
        .subcribe {
            .subcribe-text {
                left: 0%;
            }
        }
    }
    .block.newsletter {
        .form.subscribe {
            width: 95%;
            margin-top: 42%;
        }
    }
    .home-product {
        margin-top: 0px;
        height: 495px;
        .home-product-content {
            padding: 17px 10px;
            .product-content-title {
                margin-bottom: -1.5rem;
            }   
        }
    }
    .widget.grid {
        .slick-slide.slick-current.slick-active  {
            margin-left: 0px;
            margin-right: 5px;
        }
        .slick-slide.slick-active {
            margin: 0px 5px;
        }
        .slick-slide {
            margin: 0px 2.5px;
        } 
        ol.product-items {
            li.product-item {
                .product-item-info {
                    .product-item-photo {
                        img {
                            max-width: 175px;
                        }
                    }
                } 
            } 
        } 
    }
}
/*---------Max 380---------------*/
.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__380) {
    .home-instagram{
        .instagram {
            .instagram-image {
                .item{
                    img {
                        max-height: 150px;
                        max-width: 150px;
                    }
                }
            }
        }
    }
    .block.newsletter {
        .form.subscribe {
            margin-top: 46%;
        }
    }
    .home-product {
        height: 520px;
    }
}